/* card styling */

.card{
    background-color: aqua;
    border: black 3px solid;
    border-radius: 5%;
    display: flex;
    padding: 10px;
    margin: 20px;
}

.avatar{
    border-radius: 50% 50% ;
    width: 50%;
    height: 50%;
    padding: 10px;
    margin: 5px;
}

.text-container{
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* element inside text-container*/
.text-container p,
.name, 
.email,
.address{
    background-color: chocolate;
    border: darkblue solid 2px;
}

/* grid layout cards */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}


/* modal styling */

.modal-content,
.modal{
    background-color: beige;
    border: 2px black dashed;   
    display: flex;
    flex-direction: column; 
    width: 90%;
    align-items: center;
   
    padding: 20px;
}

.modal-content .text-container p,
.modal-content .text-container h2{
    text-align: center;
    font-size: 25px;
}

